
<!DOCTYPE html>

<html>

<head>
<title>Input Page</title>
</head>

<body>

<iframe src= python.gif align=left scrolling=no height=90px frameborder=0></iframe><br><br><br><br>
<h2 style="font-family:times new roman";"font-size:36px">&nbsp;&nbsp;&nbsp;Click to operate</h2>


<form method="POST" >

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="options" id="option1" value="ON"> ON </input><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="options" id="option2" value="OFF"> OFF </input><br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="submit" value=Submit ></input>


</form> 


</body>

</html>

