
<!DOCTYPE html>
<html>
<head><title>Input Page</title></head>
<body>
<h2>Click to operate</h2>

<form method="POST" >
	LIGHT 1&nbsp;&nbsp;<input type="radio" name="options1" value="ON"> ON </input>
		  <input type="radio" name="options1" value="OFF"> OFF </input><br>
	LIGHT 2&nbsp;&nbsp;<input type="radio" name="options2" value="ON"> ON </input>
		  <input type="radio" name="options2" value="OFF"> OFF </input><br>
	FAN &nbsp;&nbsp;<input type="radio" name="options3" value="ON"> ON </input>
		  <input type="radio" name="options3" value="OFF"> OFF </input><br>
	<input type="submit" name="submit" value=Next ></input>
</form> 

</body>
</html>

